body{
  font-family: sans-serif;
}

/******************************************************************************/
.iGoFrameDIV{
  /*Position and size*/
  position: absolute;
  top:50%;
  left: 50%;
  margin-left:-130px;
  margin-top:-175px;
  width: 260px;
  height: 350px;
  z-index: 0;
  /*******************/
}
/******************************************************************************/
.iGoFrame{
  /*Position and size*/
  position: absolute;
  top: 0px;
  left: 0px;
  width: 260px;
  height: 350px;
  z-index: 2;
  /*******************/

  pointer-events: none;
}
/******************************************************************************/
.statusBar{
  /*Position and size*/
  position: absolute;
  top: 0px;
  left: 0px;
  width: 260px;
  height: 40px;
  z-index: 1;
  /*******************/

  text-align: center;

  background-color: rgb(045,045,045);
}
/******************************************************************************/
.statusDay{
  /*Position and size*/
  display: inline-block;
  position: relative;
  float:left;
  width: 43px;
  height: 33px;
  margin-top: 7px;
  margin-left: 7px;
  /*******************/

  /*Alinha horizontal e verticalmente*/
  text-align: center;
  background-color: none;
}

.statusDay p{
  font-size: 12px;
  color: white;

  margin: 1px;
}
/******************************************************************************/
.statusHome{
  /*Position and size*/
  display: inline-block;
  position: relative;
  float:left;
  width: 50px;
  height: 33px;
  margin-top: 7px;
  /*******************/

  /*Alinha horizontal e verticalmente*/
  text-align: center;
  vertical-align: middle;
  line-height: 33px;
  background-color: none;
}

.homeButtonPng{
  position: relative;
  height: 75%;
  margin: 3px;
  float:left;
}
/******************************************************************************/
.statusHours{
  display: inline-block;
  position: relative;

  width: 45px;
  height: 33px;
  margin-top: 7px;

  /*Alinha horizontal e verticalmente*/
  text-align: center;
  vertical-align: middle;
  line-height: 33px;
  background-color: none;
}

.statusHours p{
  font-size: 19px;
  color: white;

  margin: 0px;
}
/******************************************************************************/
.statusWeather{
  display: inline-block;
  position: relative;
  width: 50px;
  height: 33px;
  margin-top: 7px;

  /*Alinha horizontal e verticalmente*/
  text-align: center;
  vertical-align: middle;
  line-height: 33px;
  float: right;

  overflow: inherit;
  background-color: none;
}

.cloudPng{
  position: relative;
  height: 95%;
  margin: 1px;
  margin-right: 5px
  float: right;
}
/******************************************************************************/
.statusBattery{
  display: inline-block;
  position: relative;
  float: right;
  width: 43px;
  height: 33px;
  margin-top: 7px;
  margin-right: 7px;

  /*Alinha horizontal e verticalmente*/
  text-align: center;
  vertical-align: middle;
  line-height: 33px;

  overflow: inherit;
  background-color: none;
}

.batteryPng{
  position: relative;
  height: 70%;
  margin: 5px;
  margin-left: 10px;

}
/******************************************************************************/
.touchScreen{
  position:absolute;
  top:40px;
  left: 7px;
  width: 246px;
  height: 303px;
  z-index: 1;
}

.touchScreenDock{
  position:absolute;
  z-index: 1;
  left: 0px;
  top:262px;
  width: 246px;
  height: 41px;
}
/******************************************************************************/
.vertical-menu{
  /*Positioning*/
  position: absolute;
  width: 246px;
  height: 263px;
  z-index: 1;

  /*Elements style*/
  text-align: center;
  line-height: 0px;
}

.vertical-menu a {
  position: relative;
  color: rgb(50,50,50);
  display: block;
  text-decoration: none;
  font-size: 19px;
  vertical-align: middle;
  line-height: 50px;
  height: 20%;
}

.vertical-menu a:hover {
  background-color: rgb(247,247,247);
  font-size: 18px;
  color:black;
}

.MyWayIcon{
  position: absolute;
  width: 30px;
  height: 30px;

  display: inline-block;
  float: left;

  background-color: cyan
}

.settingsPng{
  position: relative;
  z-index: 1;
  top:255px;
  left:205px;
  width: 30px;
}
.settingsPng:hover{
  transform: scale(0.9);
}

.vertical-menu{
  line-height: 0px;
}

.vertical-menu a.active {
  position: relative;
  height:3px;
  background-color: rgb(235,235,235);
  color: black;
}

.Eifel{
  position: absolute;
  z-index: 1;

  width: 253px;
  height: 310px;
}

.twoPeoplePng{
  position: relative;
  width: 15%;
  top:260px;
  left: 42%;

  z-index: 2;
}

.twoPeoplePng:hover{
  transform: scale(0.9);
}

.homeButtonPng{
  position: relative;
  height: 75%;
  margin: 3px;
  float:left;
}

table, th, td {
  text-align: center;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid white;
  border-collapse: collapse;
  font-size: 13px;
}

th, td {
  padding: 9px;
}

@keyframes straightLine {
  100% {
    transform: translate3D(0px, 100px, 0);
  }
}

.dot {

}

.myArMenu{
  width: 150px;
  position: relative;
  z-index: 2;
  top:15px;
  left: 70px;

  animation: straightLine 5.31s infinite linear;
}

.clockPng{
  width: 15px;
}

.clockPng:hover{
  transform: scale(0.95);
}

.photosPng{
  width: 20px;
}

.starRatingPng{
  width: 20px;
}
